body {
    background-color: #fafafa;
}

header {
    height: 15vh;
    background-color: #76ad73;
}

footer {
    height: 15vh;
    background-color: #76ad73;
}

.vertical-align-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-text {
    text-align: center;
}

.header-text a {
    text-decoration: none;
    color: #fafafa;
}

.header-text a:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33vw;
    right: 33vw;
    border-top: 3px solid #fafafa;
    border-bottom: 3px solid #fafafa;
    transform: scale(1);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.header-text a:hover::before {
    transform: scale(0, 1);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}



.header-text a::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30vw;
    right: 30vw;
    border-left: 3px solid #fafafa;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;

}

.header-text a:hover::after {
    transform: scale(1);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.nav-row {
    position: absolute;
    top: 0%;
}

.nav-link {
    color: #fafafa;
    text-decoration: none;
}
.nav-link:hover{
    color:#fafafa;
    border-left: 3px solid #fafafa;
    border-right: 3px solid #fafafa;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}