@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/*-------------------------------------navbar*/

.my-navbar {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
}

.nav-link {
    color: #fafafa;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    text-decoration: none;
    color: #5b7472;

    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

/*-------------------------------------Header*/

.jumbotron {
    background-color: transparent;
}

.name-container {
    height: 80vh;
    padding: 0;

    background: url('../images/DOG.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.header-text {
    font-family: 'Inconsolata', monospace, sans-serif;
    color: #de5d0f;
    font-weight: 100;
}

.header-text h1 {
    font-size: 36px;
}
